accfg==0.0.8
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
anyio==4.12.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
async-lru==2.0.5
attrs==25.4.0
babel==2.17.0
beautifulsoup4==4.14.3
bleach==6.3.0
Brotli @ file:///D:/bld/brotli-split_1764017006836/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1762976168352/work/certifi
cffi @ file:///D:/bld/cffi_1761202855497/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.3
contourpy @ file:///D:/bld/contourpy_1762525303417/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
dask==2025.11.0
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
executing==2.2.1
fastjsonschema==2.21.2
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1759948064277/work
fonttools @ file:///D:/bld/fonttools_1764352762274/work
fqdn==1.5.1
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1650983368720/work
frozenlist==1.8.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1764784748144/work
greenlet @ file:///D:/bld/greenlet_1764863560636/work
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httpx==0.28.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
ipykernel==7.1.0
ipython==9.8.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
jedi==0.19.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.5.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1762488777/work
lark==1.3.1
locket==1.0.0
MarkupSafe @ file:///D:/bld/markupsafe_1759055177330/work
matplotlib==3.10.8
matplotlib-inline==0.2.1
mistune==3.1.4
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
multidict==6.7.0
munkres==1.1.4
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1763962034/work
notebook_shim==0.2.4
numpy @ file:///D:/bld/bld/rattler-build_numpy_1763350928/work/dist/numpy-2.3.5-cp312-cp312-win_amd64.whl#sha256=6dbae0c5378861d5d26d70a13b70370df28c3837cb7c606feddae2b5c1659b41
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pacopy @ file:///D:/Study/Zhang_Hao/Research_Haiwang/FFCM2/calculate_scurve/pacopy-0.1.5-py3-none-any.whl#sha256=9d149a7558962a0a7f1beeb8abcc3e6214eebd0856fd41117a55e55136fd85d1
pandas @ file:///D:/bld/pandas_1764614466802/work
pandocfilters==1.5.1
parso==0.8.5
partd==1.4.2
pillow @ file:///D:/bld/bld/rattler-build_pillow_1764330112/work
platformdirs==4.5.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.1.3
pure_eval==0.2.3
pyarrow==22.0.0
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1755953378/work
pybind11-global @ file:///D:/bld/bld/rattler-build_pybind11-global_1755953378/work
pycairo==1.29.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pyg_lib==0.4.0+pt25cu118
Pygments==2.19.2
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1758436411/work
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-json-logger==4.0.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
pywinpty==3.0.2
PyYAML==6.0.3
pyzmq==27.1.0
rdkit @ file:///D:/bld/rdkit-meta_1736094126206/work
referencing==0.37.0
reportlab @ file:///D:/bld/reportlab_1763485020726/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rlPyCairo @ file:///home/conda/feedstock_root/build_artifacts/rlpycairo_1756864152814/work
rpds-py==0.30.0
scikit-learn==1.7.2
scipy==1.16.3
SCons==4.8.1
Send2Trash==1.8.3
setuptools==75.8.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
soupsieve==2.8
SQLAlchemy @ file:///D:/bld/sqlalchemy_1760114473686/work
stack-data==0.6.3
swifter==1.4.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946057943/work
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
toolz==1.1.0
torch @ file:///C:/bld/libtorch_1744320460695/work
torch-geometric==2.7.0
torch_cluster==1.6.3+pt25cu118
torch_scatter==2.1.2+pt25cu118
torch_sparse==0.6.18+pt25cu118
torch_spline_conv==1.2.2+pt25cu118
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
unicodedata2 @ file:///D:/bld/unicodedata2_1763054622287/work
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
wheel==0.45.1
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
xxhash==3.6.0
yarl==1.22.0
zstandard==0.25.0
